[submodule "configs/oh-my-zsh"]
	path = configs/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "configs/ranger/plugins/ranger_devicons"]
	path = configs/ranger/plugins/ranger_devicons
	url = git@github.com:alexanderjeurissen/ranger_devicons.git
[submodule "configs/nvm"]
	path = configs/nvm
    url = git@github.com:nvm-sh/nvm.git

[submodule "tpm"]
	path = configs/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
